{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <h1 class="text-3xl font-bold underline">
        Homepage
    </h1>
    <br>

    <a class="link" href="{{ path('app_landing_page') }}">
        Landing Page
    </a>

    <br>

    <a class="link" href="{{ path('app_movies') }}">
        Movie Page
    </a>
{% endblock %}
